@keyframes giro {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateY(360deg);
  }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 5px 2px rgba(255, 215, 0, 0.5);
  }
  100% {
    box-shadow: 0 0 20px 5px rgba(255, 215, 0, 1);
  }
}

.rotated-image {
  width: 30%;
  animation: giro 1s linear infinite; 
}

.loaderCoin {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 35px;
  height: 35px;
  background-color: gold;
  border-radius: 50%;
  border: 5px solid darkgoldenrod;
  transform: translate(-50%, -50%) rotateY(0deg);
  animation: spin 1.5s linear infinite, glow 0.6s infinite alternate;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: darkgoldenrod;
}
.loaderCoin::before {
  content: "$";
  color: darkgoldenrod;
}
  
 
  
  
  