.box-principal-ft {
  background-color: #f8f8f8;
  color: #1565c0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px;
  border-radius: 10px;
}

.titulo-plazo-fijo {
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.gray-line-top {
  margin: auto;
  max-width: 308px;
  height: 0;
  margin-top: 8px;
  border-color: #1565c0;
  margin-bottom: 50px;
  display: flex;
}

.titulos {
  font-size: 20px;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: #1565c0;
  justify-content: space-around;
  text-align: lef;
}

.titulo-secundario {
  width: 216px;
}


#box-secundario {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: start;
}

.white-select .MuiSelect-icon {
  color: #0d99ff;
  font-size: 2rem;
}

.aviso {
  margin-top: 34px;
}

.gray-line-bottom {
  margin: auto;
  margin-top: 20px;
  width: 126.35px;
  height: 0px;
  border-color: #1565c0;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding-right: 32px;
  color: #1565c0;
  
}

#input{
  text-align: left;
}

.box-popup{
  width: 600px;
  height: 140px;
  border-radius: 30px;
}

#alert-dialog-title{
  display: flex;
  justify-content: center;
}

.titulo-resumen-plazo-fijo{
  font-size:20px;
  text-align: center;
  color: #ffffff;

  border-radius: 15px;
  background-color: #9fc2f6;
  width: 300px;
 
  padding:10px;
  margin-top: 10px;
  margin-bottom: 30px;

  
}

.popup-text-box{
  display:flex;
  flex-direction: column;
  gap:12px;
  
}

.popup-text{
  font-size: 20px;
  border-radius: 15px;
  
  width: 336px;
  padding-left: 11px;
  padding-right: 10px;

  background-color: #d3e0ea;

  display: flex;
  justify-content: space-between;
  
}

.popup-text:nth-child(odd){
  color: #1565C0;
  
}

.popup-text:nth-child(even){
  color:#ffffff;
  background-color: #2cabf3;
}

.all-popup-box{
  display: flex;
  align-items: center;
  gap:34px;
}

.popup-plazo-box{
  color: #1565C0;
  font-size: 24px;

  display:flex;
  flex-direction: column;
  align-items: center;

  background-color: #d3e0ea;
  border-radius: 30px;

  margin-left: 0px;
  padding: 20px;
  
}

#popup-plazo-meses{
  font-size: 12px;
  width: 140px;
}

.popup-botones {
  display: flex;
  justify-content: space-between;
  gap: 120px;
  padding: 20px;
}

