.box-principal {
    background-color: #B3BEF5;
    color: #1565C0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 55px;
    padding-left:80px ;
    border-radius: 10px;
  }

  .titulo-plazo-fijo{
    display: flex;
    justify-content: end;
    font-size: 32px;
  }

  .titulo-secundario{
    font-size:20px;

  }

  .titulos{
    display: flex;
    flex-direction: row;
    color: #1565C0;

  }

  .monto{
    padding-left:52px;
    margin-bottom: 0;
  }
  
  .dias{
    padding-left:178px;
    margin-bottom: 0;
  }


  #box-secundario {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }

  .button-simular{
    background-color: red;
  }
  

  
  .white-select .MuiSelect-icon {
    color: #0D99FF;
    font-size: 2rem;
  }

  .aviso{
    margin: 20px;
  }



.gray-line-top{
  max-width: 308px; margin-right:0; height: 0;margin-top: 0;
  border-color: #1565C0;
  margin-bottom: 80px;
  display: flex;
}

.gray-line-bottom{
  width: 126.35px;
  height: 0px;
  border-color: #1565C0;

  }

  


  .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
    padding-right: 32px;
    color: #1565C0;
}