.card {
  min-height: 25vh;
  flex: 1 1 auto;
  border-radius: 10% !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Fuente más moderna */
  box-shadow: 3px 10px 8px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.status-card-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 25vh;
  padding: 30px;
  margin: 10px 0; /* Espacio entre tarjetas */
}

.status-card-bg-blue {
  background: linear-gradient(270deg, #85d7ff, #1fb6ff);
  color: #fff;
}

.status-card-bg-green {
  background: linear-gradient(90deg, #29b6f6, #00e676);
  color: #fff;
}

.status-card-bg-read {
  background: linear-gradient(90deg, #ff8a80, #ff5252);
  color: #fff;
}


.table-container {
  min-height: auto;
  max-height: 40vh;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra más suave */
}

.table th {
  background-color: #1e88e5; /* Fondo del encabezado */
}

.table td {
  background-color: #e3f2fd; /* Fondo de las celdas */
  border-bottom: 1px solid #90caf9; /* Línea divisoria */
}

.table tr:nth-child(even) td {
  background-color: #bbdefb; /* Alterna el color de las filas */
}

.table tr:hover td {
  background-color: #64b5f6; /* Color de la fila al pasar el ratón por encima */
}


.HomeContainer {
  background-color: #ffffff; /* Fondo blanco limpio */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 1200px;
  width: 90%;
  margin: 20px;
}

.bienvenido {
  color: #1565c0;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 20px;
  font-size: 1.5rem; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto más destacado */
}
