.box-principal-gastos {
    background-color:#f8f8f8;
    color: #1565c0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    width: 1200px; /* Aumentar el ancho del contenedor principal */
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
}

.titulo-gastos {
    font-size: 32px;
    margin-bottom: 5px;
    text-align: center;
    color: #1565c0;
}

.box-gastos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 18px; 
}

.custom-textfield, .custom-formcontrol {
    grid-column: span 1;
}

.custom-textfield.description {
    grid-column: span 3; 
}

.button-registrar {
    grid-column: 1 / span 3; 
    background-color: #ffffff;
    border: 3px solid #46A044;
    height: 50px;
    width:100%;
    align-self: center;
    justify-self: center; 
}


.custom-textfield .MuiInputBase-root input {
    color: #1565c0 !important; 
}

.custom-textfield .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #1565c0; 
}

.custom-textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #1565c0; 
}

.custom-formcontrol .MuiInputBase-root {
    background-color: #f8f8f8;  
}

.custom-formcontrol .MuiInputBase-root input {
    color: #1565c0 !important; /* Texto blanco dentro de Select */
}

.custom-formcontrol .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {

    border-color: #1565c0; /* Borde transparente */

}

.custom-textfield:hover .MuiInputBase-input {
    color: #1565c0 !important; /* Color del texto al pasar el mouse */
  }
  .custom-textfield .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #1565c1; /* Color del borde al pasar el mouse */
  }
  
  
  .button-loading {
    pointer-events: none; /* Disable button interactions while loading */
  }
  
  .button-loading::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(70, 160, 68, 0.5);
    animation: fillButton 2s infinite;
  }
  
  @keyframes fillButton {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

