.box-principal-gastos { 
    background-color: #ffffff; 
    color: #103551;
    font-family: "Roboto", sans-serif;
    padding: 20px;
    width: 600px; 
    border-radius: 10px;
    position: relative;
    margin: 0 auto; 
}

.titulo-gastos {
    font-size: 32px;
    margin-bottom: 5px;
    text-align: center;
}

.box-gastos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.custom-textfield .MuiInputLabel-root,
.custom-formcontrol .MuiInputLabel-root {
color: #162368!important; /* Color blanco para las etiquetas */
}

.custom-textfield .MuiInputBase-root {
background-color: transparent; /* Fondo azul oscuro para TextField */
}

.custom-textfield .MuiInputBase-root input {
color: #162368 !important; /* Texto blanco dentro de TextField */
}

.custom-textfield .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
border-color: #162368; /* Borde transparente */
}


.custom-textfield .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
border-color: #162368; /* Borde azul cuando está enfocado */
}

.custom-formcontrol .MuiInputBase-root {
background-color: transparent /* Fondo azul claro para Select */
}

.custom-formcontrol .MuiInputBase-root input {
color: #162368 !important; /* Texto blanco dentro de Select */
}

.custom-formcontrol .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
border-color: #162368; /* Borde transparente */
}


.button-registrar {
background-color: #ffffff;
border: 3px solid #46A044;
color: white;
width: 550px;
height: 35px;
align-self: center;
}


