.box-general{
  background-color: rgb(255, 255, 255);
  width: 550px;
  border-radius: 12px;
  font-family: roboto;
}

.titulo-cuentas{
  color: #1E6FBA;
  padding-top: 20px;
  font-size: 24px;
}

.linea-azul{
  color: #1E6FBA;
  max-width: 126px;
  height: 0;
  margin-top: 4px;
  border-color: #1565c0;
  margin-bottom: 26px;
  display: flex;
}

.box-de-cuentas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 30px;
}

.box-cuenta{
  color: #1E6FBA;
  background-color:#D8E4EF;
  border-radius: 15px;
  padding: 0em 2em 1em;
}

.moneda-cuenta{
  font-size: 16px;
  margin: 5px 8px;
}

.tipo-cuenta{
  margin:0px;
  font-size: 24px;
  margin-bottom: 5px;
}

.balance-cuenta{
  margin: 0px;
  font-size: 24px;
  margin-bottom: 10px;
}

.cbu-cuenta{
  font-size: 12px;
  margin:0px;
  color: rgb(60, 77, 231);
  
}