:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: linear-gradient(to bottom, #182346, #283b6a, #365690, #4172b8, #4a90e2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: center; 
  align-items: center; 
  margin: 0; /* Asegura que no haya márgenes predeterminados */
  -ms-overflow-style: -ms-autohiding-scrollbar;

}

/* Para navegadores WebKit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Fondo transparente */
}

::-webkit-scrollbar-thumb {
    background: rgba(30, 144, 255, 0.9); /* Azul más oscuro con menos transparencia */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid transparent; /* Espacio entre el thumb y el track */
    background-clip: content-box; /* Clip para el fondo */
}

::-webkit-scrollbar-button {
    display: none !important; 
}

/* Para navegadores Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(30, 144, 255, 0.9) rgba(0, 0, 0, 0.1); 
}

